::ng-deep .mat-grid-tile-content {
  height: 50% !important;
  justify-content: left !important;
  padding: 1% 2.5% !important;
}


// .select-panel{
//   width: 10%;
//   height: 10%;
// }

.search-panel {
  width: 100%;
  height: 100%;
  padding: 1% 10% 0;
}

.result-panel {
  width: 100%;
  height: 100%;
}
